@media screen and (max-width:1300px){
	.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
		padding: 25px 25px;
		font-weight: 600;
    font-size: 20px;
	}
	.accordion .accordion-item span.icon {
		margin-right: 25px;
	}
	.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description p {
		padding: 20px 50px 20px 25px;
		font-size: 16px!important;
	}
}
@media screen and (max-width:1100px) {
	.plan-sec .col:nth-child(2) {
		gap: 20px;
	}

	.plan-sec .box {
		width: calc(33.33% - 14px);
		padding: 30px 25px;
	}

	.about-sec p,
	.faq-sec p {
		max-width: 90%;
	}
}

@media screen and (max-width:1024px) {
	header .logo a {
		height: 45px;
	}
	.accordion {
		width: 100%;
	}
	.faq-sec .accordion:last-child {
		margin-top: 0px;
	}
}

@media screen and (max-width:991px) {

	.banner-sec {
		padding: 60px 0px 70px 0px;
	}

	.plan-sec,
	.about-sec,
	.faq-sec,
	.contact-sec {
		padding: 65px 0px 70px 0px;
	}

	.plan-sec p,
	.about-sec p,
	.faq-sec p {
		font-size: 18px;
		line-height: 28px;
		max-width: 100%;
	}

	.plan-sec .col:nth-child(2),
	.about-sec .col:nth-child(2) {
		margin: 35px 0px 0px 0px;
	}

	.about-sec .box {
		width: calc(50% - 15px);
		padding: 25px;
	}

	.about-sec .col:nth-child(2) {
		gap: 30px 30px;
	}

	.about-sec .box h5 {
		margin-bottom: 15px;
	}

	.counter-sec {
		padding-bottom: 70px;
	}

	.faq-sec .accordion {
		margin-top: 35px;
	}

	.contact-sec h2 {
		margin-bottom: 35px;
	}

	.footer-main {
		padding: 70px 0px 50px 0px;
	}

	.plan-sec .box {
		width: calc(50% - 10px);
	}

	.footer-column a.logo {
		max-width: 200px;
	}

	.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
		padding: 25px 25px;
		font-weight: 500;
	}

	.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description p {
		padding: 20px 80px 20px 25px;
	}

	h1 {
		font-size: 50px;
		line-height: 60px;
	}

	.counter-sec .col {
		padding: 30px 10px;
	}

	.brand-slider .slick-list {
		margin: 0px 15px;
	}

	.brand-slider .slick-next {
		right: -17px;
	}

	.brand-slider .slick-prev {
		left: -17px;
	}


}

@media screen and (max-width: 767px) {

	/***responsive-menu-css-start***/
	nav ul li a:before {
		display: none;
		;
	}

	.menu-wrapper {
		position: absolute;
		width: 100%;
		z-index: 99999;
		right: 0px;
	}

	.main-menu-icon {
		position: absolute;
		right: 30px;
		top: -4px;
		width: auto;
	}

	.main-menu-icon a {
		position: relative;
		width: 20px;
		height: 12px;
		line-height: 12px;
		display: flex;
	}

	.main-menu-icon a:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 2px;
		width: 20px;
		background-color: #000;
		transition: all 0.4s;
	}

	.main-menu-icon a span {
		height: 2px;
		width: 20px;
		background-color: #000;
		line-height: 15px;
		float: left;
		margin-top: 5px;
	}

	.main-menu-icon a:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 2px;
		width: 20px;
		background-color: #000;
		transition: all 0.4s;
	}

	header .close-icon {
		display: block;
	}

	.menu-main {
		width: 363px;
		position: fixed;
		height: 100%;
		left: -100%;
		right: 0;
		top: 0px;
		border-right: 1px solid #BDBDBD;
		background-color: #fff;
		transition: all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		overflow: auto;
		z-index: 99;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: 30px 30px;
	}

	.menu-main.show-menu,
	.menu-main.close-sidebar {
		left: 0;
		transition: all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
	}

	.menu-main.close-sidebar.show-menu {
		left: -100%;
	}

	.menu-main ul {
		margin: 35px 0px 0px 0px;
		position: relative;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 0px 0px;
		gap: 25px;
	}

	.menu-main ul li {
		width: 100%;
		text-align: left;
		display: inline-block;
		padding: 0px 0px;
		transform: translateX(0);
		transition: transform .35s;
	}

	.menu-main .logo {
		display: block;
	}

	header .logo a {
		height: auto;
		width: 110px;
	}

	.connect-follow {
		display: block;
	}
	nav ul li.active a{
        color: #A6C0FF;
	}

	/***responsive-menu-css-end***/
	header .inner-container {
		padding: 30px 0px;
	}

	.banner-sec .row {
		flex-wrap: wrap;
	}

	.banner-sec .col:nth-child(1),
	.banner-sec .col:nth-child(2) {
		width: 100%;
	}

	.banner-sec .col:nth-child(2) {
		margin-top: 24px;
	}

	.banner-cnt {
		text-align: center;
	}

	.banner-sec:after {
		z-index: -1;
		width: 400px;
		height: 400px;
		background-size: contain;
	}

	h1,
	h2 {
		font-size: 24px;
		line-height: 30px;
	}

	p,
	.plan-sec p,
	.about-sec p,
	.faq-sec p {
		font-size: 16px;
		line-height: 24px;
	}

	.banner-sec {
		padding: 5px 0px 40px 0px;
	}

	.banner-sec p {
		margin: 0px auto 20px auto;
		font-size: 16px;
	}

	.banner-sec h1 {
		margin-bottom: 17px;
	}

	.banner-sec .img-wrap {
		height: 49px;
		margin-bottom: 20px;
	}

	button {
		padding: 19px 20px;
		font-size: 18px;
	}

	.banner-img {
		height: auto;
	}

	.plan-sec,
	.about-sec,
	.faq-sec,
	.contact-sec {
		padding: 40px 0px 40px 0px;
	}

	.plan-sec .col:nth-child(2) {
		margin: 24px 0px 0px 0px;
	}

	.about-sec .col:nth-child(2) {
		margin: 20px 0px 0px 0px;
		gap: 20px 20px;
	}

	.plan-sec .box {
		width: 100%;
		padding: 20px 20px;
		min-height: auto;
	}

	.plan-sec .box .box-cnt {
		display: flex;
		flex-wrap: wrap;
	}

	.plan-sec .box h5 {
		width: 40%;
		text-align: left;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 18px;
	}

	.plan-sec .box h5+p {
		width: 60%;
		font-size: 14px;
		text-align: left;
		margin: 0px 0px 18px 0px;
		display: flex;
		flex-wrap: wrap;
		align-items: end;
	}

	.plan-sec .box .price {
		font-size: 30px;
		line-height: 36px;
		width: 100%;
		justify-content: flex-start;
	}

	.plan-sec .box .price img {
		position: relative;
		top: 2px;
	}

	.plan-sec .box .price+p {
		font-size: 14px;
		line-height: 17px;
		margin: 0px 0px 24px 0px;
		width: 100%;
		text-align: left;
	}

	.plan-sec .box ul li:last-child {
		margin-bottom: 24px;
	}

	.about-sec .box {
		width: 100%;
		padding: 20px;
		text-align: center;
	}

	.about-sec .box h5 {
		margin-bottom: 18px;
		font-size: 18px;
		line-height: 22px;
	}

	.about-sec .box p {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
	}

	.brand-slider .brand-logo {
		height: 100px;
	}

	.brand-sec h5 {
		margin-bottom: 0px;
	}

	.brand-sec {
		padding-bottom: 22px;
	}

	.counter-sec .col {
		flex-wrap: wrap;
		padding: 40px 25px;
	}

	.counter-sec .count-content:last-child {
		margin-bottom: 0px;
	}

	.counter-sec .count-content {
		border-right: 0px solid #FFFFFF;
		padding: 0px 0px;
		width: 100%;
		margin-bottom: 32px;
	}

	.counter-sec {
		padding-bottom: 40px;
	}

	.faq-sec .accordion {
		margin-top: 24px;
	}

	.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
		padding: 19px 10px 19px 20px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	}

	.accordion .accordion-item span.icon {
		margin-right: 20px;
	}

	.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description p {
		padding: 20px 45px 20px 20px;
		font-size: 14px;
		line-height: 20px;
	}

	form .input-group {
		width: 100%;
	}

	form {
		gap: 24px;
	}

	input,
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="tel"],
	input[type="url"],
	input[type="date"],
	input[type="time"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="week"],
	select {
		padding: 21px 24px
	}

	form button[type="submit"] {
		min-width: 100%;
	}

	.footer-main {
		padding: 40px 0px 24px 0px;
	}

	.footer-main .row {
		flex-wrap: wrap;
	}

	.footer-main .row .col:nth-child(1),
	.footer-main .row .col {
		width: 100%;
	}

	.footer-column {
		text-align: center;
	}

	.footer-column a.logo {
		max-width: 182px;
		margin: 0px auto 20px auto;
	}

	.footer-column p {
		line-height: 24px;
	}

	.footer-column ul li:last-child {
		margin-bottom: 0px;
	}

	.footer-column ul li {
		margin-bottom: 10px;
	}

	ul.social-icon li {
		margin-bottom: 0px;
	}

	ul.social-icon {
		justify-content: center;
		margin-top: 10px !important;
	}

	body .connect-follow ul {
		gap: 0px;
		justify-content: flex-start;
		margin-top: 0px !important;
	}

	body .footer-bottom p {
		text-align: center;
	}

	.banner-sec:before {
		display: none;
	}

}

@media screen and (max-width:575px) {}

@media screen and (max-width:480px) {
	.banner-sec:after {
		width: 300px;
		height: 300px;
	}
}

@media screen and (max-width:375px) {
	.menu-main {
		width: 300px;
	}
}